@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('./colors.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-color);
    color: #333;
    font-size: 14px;
    line-height: 1.8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

main h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.table-horarios{
    width: 100%;
    padding: 20px 10px;
    border: #000 1px solid;
    border-radius: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
}
.table-horarios table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    padding: 50px;
}

.table-horarios table th,
.table-horarios table td {
  padding: 10px;
  position: relative; /* Permite usar ::after para o efeito da borda */
}

.table-horarios table tr:not(:last-child) td::after {
  content: "";
  display: block;
  width: 80%; /* Define o tamanho da borda menor que a célula */
  height: 1px;
  background-color: #333;
  position: absolute;
  bottom: 0;
}
.table-horarios table th:not(:first-child),
.table-horarios table td:not(:first-child){
    border-left: #333 1px solid;
}

.table-horarios table th{
    text-align: center;
}
.table-horarios table td{
    text-align: left;
    left: 6px;
}