@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('./colors.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-color);
    color: #333;
    font-size: 14px;
    line-height: 1.8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    /* gap: 30px; */
}

main h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.liturgia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section:first-child,
.youtube-button {
    align-items: center;
}

.youtube-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.youtube-button a h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}
.youtube-button a:hover {
    color: var(--white);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}

.section {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.section h2 {
    color: var(--text-color);
    text-decoration: underline;
    padding-bottom: 5px;
    margin-left: 0;
}

.section pre,
.section:last-child p {
    font-size: .9rem;
    width: 100%;
    white-space: pre-wrap;
}