@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('./colors.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-color);
    color: #333;
    font-size: 14px;
    line-height: 1.8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

main .pastorais-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .pastoral-item {
    display: flex;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 10px;
}
main .pastoral-item:hover {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    transition: 0.2s;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5);
}

main .pastoral-item img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5);
}

main .pastoral-item:nth-child(even) {
    flex-direction: row-reverse;
}

main .pastoral-item .pastoral-text {
    max-width: 650px;
}